![png](data\books_erd.png)

In [7]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql

users_df = pd.read_csv('data/users.csv')
books_df = pd.read_csv('data/books.csv')
authors_df = pd.read_csv('data/authors.csv')
favorites_df = pd.read_csv('data/favorites.csv')

username = 'root'
password = 'saints2023$$$'
connection = f"mysql+pymysql://{username}:{password}@localhost/books"
engine = create_engine(connection)


users_df.to_sql('users', engine, if_exists='replace')
authors_df.to_sql('authors', engine, if_exists='replace')
books_df.to_sql('books', engine, if_exists='replace')
favorites_df.to_sql('favorites', engine, if_exists='replace')

7

In [8]:
q = """
SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = 'Doe' AND users.first_name = 'John'));
"""

pd.read_sql(q, engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1